In [8]:
import tushare as ts
import pandas as pd

In [2]:
code_list = ts.get_area_classified()

In [3]:
sh_code_prefix = ['600','601','603']
sh_code_list = []
for index, row in code_list.iterrows():
    code = row[0]
    if code[:3] in sh_code_prefix:
        sh_code_list.append(code)

In [11]:
code_k_data = {}
for sh_code in sh_code_list[:5]:
    code_k_data[sh_code] = ts.get_k_data(sh_code, ktype='5', start='2018-01-15', end='2018-01-19')

In [20]:
code_k_data_panel = pd.Panel(code_k_data)
code_k_data_panel.to_pickle('code_k_data.pkl')
a0 = pd.read_pickle('code_k_data.pkl')

In [34]:
a0.axes[0]

Index([u'600000', u'600605', u'600606', u'600643', u'600846'], dtype='object')

In [32]:
a0['600000']

                 date   open  close   high    low  volume    code
0    2018-01-05 14:55  12.69  12.68  12.69  12.68    5275  600000
1    2018-01-05 15:00  12.68  12.69  12.69  12.68    7245  600000
2    2018-01-08 09:35  12.69  12.68  12.69  12.66   10433  600000
3    2018-01-08 09:40  12.68  12.66  12.69  12.66    4546  600000
4    2018-01-08 09:45  12.67  12.65  12.67  12.64    8414  600000
5    2018-01-08 09:50  12.65  12.65  12.66  12.64    5476  600000
6    2018-01-08 09:55  12.65  12.64  12.66  12.64    4396  600000
7    2018-01-08 10:00  12.64  12.65  12.66  12.64    5068  600000
8    2018-01-08 10:05  12.65  12.63  12.65  12.63   11953  600000
9    2018-01-08 10:10  12.64  12.63  12.64  12.63    5807  600000
10   2018-01-08 10:15  12.63  12.65  12.65  12.63    4437  600000
11   2018-01-08 10:20  12.64  12.66  12.67  12.64    7451  600000
12   2018-01-08 10:25  12.66  12.67  12.68  12.66    3107  600000
13   2018-01-08 10:30  12.66  12.69  12.69  12.66    8987  600000
14   2018-01-08 10:35  12.69  12.66  12.69  12.66   11320  600000
15   2018-01-08 10:40  12.65  12.65  12.67  12.64    5553  600000
16   2018-01-08 10:45  12.66  12.66  12.67  12.65    5757  600000
17   2018-01-08 10:50  12.65  12.65  12.67  12.65    3944  600000
18   2018-01-08 10:55  12.65  12.65  12.67  12.64    7645  600000
19   2018-01-08 11:00  12.65  12.66  12.68  12.65    8511  600000
20   2018-01-08 11:05  12.67  12.66  12.68  12.65    6305  600000
21   2018-01-08 11:10  12.68  12.68  12.69  12.66    8463  600000
22   2018-01-08 11:15  12.67  12.68  12.69  12.67    6264  600000
23   2018-01-08 11:20  12.68   12.7   12.7  12.68   11061  600000
24   2018-01-08 11:25   12.7   12.7  12.71  12.69    7515  600000
25   2018-01-08 11:30   12.7  12.69   12.7  12.69    3821  600000
26   2018-01-08 13:05  12.69  12.69   12.7  12.68   10933  600000
27   2018-01-08 13:10  12.69  12.69  12.71  12.68    7099  600000
28   2018-01-08 13:15   12.7  12.69  12.71  12.69    5307  600000
29   2018-01-08 13:20  12.69  12.68   12.7  12.67    6410  600000
..                ...    ...    ...    ...    ...     ...     ...
461  2018-01-19 13:20  13.51  13.51  13.51  13.49   19189  600000
462  2018-01-19 13:25   13.5  13.54  13.54  13.48   31028  600000
463  2018-01-19 13:30  13.53  13.48  13.53  13.48   18844  600000
464  2018-01-19 13:35  13.48  13.49   13.5  13.47   13152  600000
465  2018-01-19 13:40  13.49  13.51  13.52  13.49   10619  600000
466  2018-01-19 13:45   13.5  13.49  13.51  13.49   21043  600000
467  2018-01-19 13:50   13.5  13.39   13.5  13.37   90163  600000
468  2018-01-19 13:55   13.4  13.38   13.4  13.37   34849  600000
469  2018-01-19 14:00  13.38  13.37  13.39  13.35   31138  600000
470  2018-01-19 14:05  13.38  13.37  13.39  13.36   17266  600000
471  2018-01-19 14:10  13.39  13.33   13.4   13.3   54796  600000
472  2018-01-19 14:15  13.34   13.3  13.35  13.29   48537  600000
473  2018-01-19 14:20  13.32  13.28  13.33  13.26   46846  600000
474  2018-01-19 14:25  13.28  13.26   13.3  13.24   39506  600000
475  2018-01-19 14:30  13.27  13.29  13.29  13.23   40071  600000
476  2018-01-19 14:35   13.3  13.26   13.3  13.23   34021  600000
477  2018-01-19 14:40  13.27  13.21  13.28  13.18   50202  600000
478  2018-01-19 14:45  13.21  13.23  13.26  13.19   23618  600000
479  2018-01-19 14:50  13.24  13.24  13.25  13.21   18163  600000
480  2018-01-19 14:55  13.23  13.24  13.25  13.19   48825  600000
481  2018-01-19 15:00  13.24  13.24  13.26  13.22   33094  600000
482  2018-01-22 09:35  12.93  12.98  12.99  12.86  490404  600000
483  2018-01-22 09:40  12.99  12.95  12.99  12.93   93352  600000
484  2018-01-22 09:45  12.95     13     13  12.94   73398  600000
485  2018-01-22 09:50     13  13.01  13.02  12.99   72863  600000
486  2018-01-22 09:55  13.01  13.02  13.04     13   92308  600000
487  2018-01-22 10:00  13.02  12.99  13.03  12.98   67427  600000
488  2018-01-22 10:05  12.99  13.01  13.01  12.99   49064  600000
489  2018-01-22 10:10     13  13.03  13.03  12.99  104255  600000
490  2018-01-22 10:13  13.02  13.05  13.09  13.02   42870  600000

[491 rows x 7 columns]