In [1]:
import pandas as pd
stock_panel = pd.read_pickle('code_k_data_part.pkl')
stock_panel

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 48 (major_axis) x 14 (minor_axis)
Items axis: 600104 to 603895
Major_axis axis: 2018-01-16 09:35:00 to 2018-01-16 15:00:00
Minor_axis axis: open to turnover

In [2]:
stock_panel.axes

[Index([u'600104', u'600210', u'600838', u'603690', u'603895'], dtype='object'),
 Index([u'2018-01-16 09:35:00', u'2018-01-16 09:40:00', u'2018-01-16 09:45:00',
        u'2018-01-16 09:50:00', u'2018-01-16 09:55:00', u'2018-01-16 10:00:00',
        u'2018-01-16 10:05:00', u'2018-01-16 10:10:00', u'2018-01-16 10:15:00',
        u'2018-01-16 10:20:00', u'2018-01-16 10:25:00', u'2018-01-16 10:30:00',
        u'2018-01-16 10:35:00', u'2018-01-16 10:40:00', u'2018-01-16 10:45:00',
        u'2018-01-16 10:50:00', u'2018-01-16 10:55:00', u'2018-01-16 11:00:00',
        u'2018-01-16 11:05:00', u'2018-01-16 11:10:00', u'2018-01-16 11:15:00',
        u'2018-01-16 11:20:00', u'2018-01-16 11:25:00', u'2018-01-16 11:30:00',
        u'2018-01-16 13:05:00', u'2018-01-16 13:10:00', u'2018-01-16 13:15:00',
        u'2018-01-16 13:20:00', u'2018-01-16 13:25:00', u'2018-01-16 13:30:00',
        u'2018-01-16 13:35:00', u'2018-01-16 13:40:00', u'2018-01-16 13:45:00',
        u'2018-01-16 13:50:00', u'2018-01-16 13:55:00', u'2018-01-16 14:00:00',
        u'2018-01-16 14:05:00', u'2018-01-16 14:10:00', u'2018-01-16 14:15:00',
        u'2018-01-16 14:20:00', u'2018-01-16 14:25:00', u'2018-01-16 14:30:00',
        u'2018-01-16 14:35:00', u'2018-01-16 14:40:00', u'2018-01-16 14:45:00',
        u'2018-01-16 14:50:00', u'2018-01-16 14:55:00', u'2018-01-16 15:00:00'],
       dtype='object'),
 Index([u'open', u'high', u'close', u'low', u'volume', u'price_change',
        u'p_change', u'ma5', u'ma10', u'ma20', u'v_ma5', u'v_ma10', u'v_ma20',
        u'turnover'],
       dtype='object')]

In [19]:
for key, data in stock_panel.iteritems():
    stock_panel[key] = stock_panel[key].drop(['turnover']
#     print(data)
#     stock_panel[key] = stock_panel[key].drop['turnover']
#     print(type(stock_panel[key]))

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [4]:
stock_data = stock_panel.to_frame()
corr = stock_data.corr()
corr

        600104  600210  600838  603690  603895
600104     NaN     NaN     NaN     NaN     NaN
600210     NaN     NaN     NaN     NaN     NaN
600838     NaN     NaN     NaN     NaN     NaN
603690     NaN     NaN     NaN     NaN     NaN
603895     NaN     NaN     NaN     NaN     NaN

In [17]:
stock_panel

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 48 (major_axis) x 14 (minor_axis)
Items axis: 600104 to 603895
Major_axis axis: 2018-01-16 09:35:00 to 2018-01-16 15:00:00
Minor_axis axis: open to turnover

In [13]:
stock_data

Empty DataFrame
Columns: [600104, 600210, 600838, 603690, 603895]
Index: []

In [7]:
stock_panel.axes[0]

Index([u'600104', u'600210', u'600838', u'603690', u'603895'], dtype='object')

In [22]:
del stock_panel['600104']['turnover']

# stock_panel['600104'].drop(['turnover'], axis=1)

In [23]:
stock_panel['600104']

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
2018-01-16 09:35:00,33.31,33.40,33.22,33.16,8855.10,-0.09,-0.27,33.344,33.374,33.3980,7499.11,5431.51,5037.78
2018-01-16 09:40:00,33.22,33.36,33.33,33.19,7602.87,0.11,0.33,33.336,33.372,33.3870,8469.89,5874.02,5293.48
2018-01-16 09:45:00,33.33,33.33,33.25,33.25,11159.00,-0.08,-0.24,33.334,33.350,33.3745,8660.45,6704.54,5661.10
2018-01-16 09:50:00,33.24,33.24,33.22,33.19,7413.82,-0.02,-0.06,33.310,33.339,33.3605,8790.55,7052.31,5615.12
2018-01-16 09:55:00,33.21,33.25,33.22,33.18,10227.50,0.01,0.03,33.248,33.321,33.3540,9051.66,7777.28,5803.43
2018-01-16 10:00:00,33.22,33.25,33.05,33.03,13664.00,-0.17,-0.51,33.214,33.279,33.3420,10013.40,8756.28,6304.07
2018-01-16 10:05:00,33.03,33.07,33.00,32.96,20563.90,-0.03,-0.09,33.148,33.242,33.3255,12605.60,10537.80,7126.52
2018-01-16 10:10:00,33.00,33.12,33.08,33.00,12941.80,0.08,0.24,33.114,33.224,33.3140,12962.20,10811.30,7541.34
2018-01-16 10:15:00,33.10,33.10,32.91,32.91,16259.80,-0.19,-0.57,33.052,33.181,33.2885,14731.40,11761.00,8112.28
2018-01-16 10:20:00,32.91,32.98,32.96,32.90,9968.94,0.05,0.15,33.000,33.124,33.2630,14679.70,11865.70,8347.70
2018-01-16 10:25:00,32.95,32.98,32.95,32.92,6867.00,0.00,0.00,32.980,33.097,33.2355,13320.30,11666.90,8549.19
2018-01-16 10:30:00,32.95,32.98,32.95,32.90,10954.00,0.00,0.00,32.970,33.059,33.2155,11398.30,12002.00,8938.00
2018-01-16 10:35:00,32.97,33.00,32.95,32.95,7660.54,-0.02,-0.06,32.944,33.029,33.1895,10342.10,11652.10,9178.34
2018-01-16 10:40:00,32.97,32.98,32.97,32.90,14498.20,0.00,0.00,32.956,33.004,33.1715,9989.74,12360.60,9706.44
2018-01-16 10:45:00,32.91,32.97,32.95,32.91,5264.00,0.04,0.12,32.954,32.977,33.1490,9048.75,11864.20,9820.75
2018-01-16 10:50:00,32.95,33.00,33.00,32.94,8560.86,0.05,0.15,32.964,32.972,33.1255,9387.52,11353.90,10055.10
2018-01-16 10:55:00,33.00,33.20,33.08,32.99,11866.70,0.08,0.24,32.990,32.980,33.1110,9570.06,10484.20,10511.00
2018-01-16 11:00:00,33.07,33.15,33.11,33.07,5055.00,0.04,0.12,33.022,32.983,33.1035,9048.95,9695.50,10253.40
2018-01-16 11:05:00,33.11,33.20,33.13,33.08,8530.00,0.02,0.06,33.054,33.005,33.0930,7855.31,8922.52,10341.70
2018-01-16 11:10:00,33.13,33.19,33.11,33.10,4380.89,-0.02,-0.06,33.086,33.020,33.0720,7678.69,8363.72,10114.70
2018-01-16 11:15:00,33.11,33.23,33.18,33.09,6178.00,0.07,0.21,33.122,33.043,33.0700,7202.12,8294.82,9980.84
2018-01-16 11:20:00,33.20,33.23,33.21,33.17,8227.00,0.01,0.03,33.148,33.069,33.0640,6474.18,8022.12,10012.00
2018-01-16 11:25:00,33.20,33.21,33.17,33.11,8471.00,-0.03,-0.09,33.160,33.091,33.0600,7157.38,8103.16,9877.65
2018-01-16 11:30:00,33.18,33.22,33.18,33.13,4224.00,0.00,0.00,33.170,33.112,33.0580,6296.18,7075.74,9718.16
2018-01-16 13:05:00,33.19,33.24,33.24,33.19,3576.00,0.05,0.15,33.196,33.141,33.0590,6135.20,6906.94,9385.58
2018-01-16 13:10:00,33.23,33.25,33.22,33.18,4383.00,-0.01,-0.03,33.204,33.163,33.0675,5776.20,6489.16,8921.53
2018-01-16 13:15:00,33.21,33.24,33.20,33.17,4680.00,-0.01,-0.03,33.202,33.175,33.0775,5066.80,5770.49,8127.34
2018-01-16 13:20:00,33.21,33.22,33.20,33.16,7886.00,-0.01,-0.03,33.208,33.184,33.0835,4949.80,6053.59,7874.55
2018-01-16 13:25:00,33.18,33.24,33.23,33.17,4394.00,0.05,0.15,33.218,33.194,33.0995,4983.80,5639.99,7281.26
2018-01-16 13:30:00,33.23,33.28,33.28,33.20,6708.00,0.05,0.15,33.226,33.211,33.1155,5610.20,5872.70,7118.21
2018-01-16 13:35:00,33.28,33.33,33.31,33.27,6089.00,0.03,0.09,33.244,33.224,33.1335,5951.40,5863.80,7079.31
2018-01-16 13:40:00,33.31,33.44,33.37,33.29,9215.00,0.06,0.18,33.278,33.240,33.1545,6858.40,5962.60,6992.36
2018-01-16 13:45:00,33.38,33.40,33.30,33.25,5835.00,-0.08,-0.24,33.298,33.253,33.1720,6448.20,5699.00,6901.08
2018-01-16 13:50:00,33.31,33.31,33.11,33.11,18322.00,-0.20,-0.60,33.274,33.246,33.1790,9233.80,7108.80,7092.27
2018-01-16 13:55:00,33.10,33.10,32.91,32.91,22382.10,-0.19,-0.57,33.200,33.213,33.1770,12368.60,8989.41,7948.18
2018-01-16 14:00:00,32.91,32.91,32.90,32.83,19816.90,-0.01,-0.03,33.118,33.181,33.1720,15114.20,10532.80,8510.98
2018-01-16 14:05:00,32.91,32.92,32.70,32.70,25320.20,-0.21,-0.64,32.984,33.131,33.1530,18335.20,12596.80,9183.65
2018-01-16 14:10:00,32.69,32.73,32.73,32.66,10546.50,0.04,0.12,32.870,33.084,33.1340,19277.50,12862.90,9458.23
2018-01-16 14:15:00,32.74,32.78,32.76,32.73,5967.15,0.02,0.06,32.800,33.037,33.1155,16806.60,13020.20,9330.09
2018-01-16 14:20:00,32.76,32.76,32.42,32.42,25300.30,-0.34,-1.04,32.702,32.951,33.0810,17390.20,14879.40,10376.10
2018-01-16 14:25:00,32.42,32.58,32.49,32.42,17290.40,0.07,0.22,32.620,32.869,33.0465,16884.90,15999.60,10931.70
2018-01-16 14:30:00,32.49,32.49,32.40,32.36,31185.80,-0.09,-0.28,32.560,32.772,33.0060,18058.00,18196.60,12079.60
2018-01-16 14:35:00,32.39,32.50,32.38,32.37,16042.50,-0.01,-0.03,32.490,32.680,32.9665,19157.20,19217.40,12458.20
2018-01-16 14:40:00,32.41,32.46,32.38,32.38,25672.20,-0.03,-0.09,32.414,32.607,32.9265,23098.20,19952.40,13530.60
2018-01-16 14:45:00,32.38,32.45,32.44,32.37,19484.10,0.06,0.19,32.418,32.560,32.8865,21935.00,19662.60,14326.00
2018-01-16 14:50:00,32.44,32.47,32.30,32.23,20726.40,-0.14,-0.43,32.380,32.500,32.8405,22622.20,19753.60,15143.20
2018-01-16 14:55:00,32.29,32.41,32.41,32.28,16986.90,0.12,0.37,32.382,32.471,32.8010,19782.40,18920.20,15758.50
2018-01-16 15:00:00,32.40,32.41,32.33,32.29,20091.60,-0.07,-0.22,32.372,32.431,32.7575,20592.20,19874.70,16368.80